<!DOCTYPE html>
<html lang="zh-CN" ng-app="mainPageApp">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<head>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/toastr.css" rel="stylesheet">
<style type="text/css">
.tablediv a {
	color: #000;
	text-decoration: none;
	padding-left: 15px;
}
</style>
</head>
<body>
	<div class="container" ng-controller="container">
		<!-- 导航栏 -->
		<div class="row">
			<div class="col-md-11">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="javascipt:void(0)">PotatoCloudDrive</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a href="javascipt:void(0)" ng-click="showDirve()">网盘</a></li>
								<li class="dropdown"><a href="javascipt:void(0)"
									ng-click="showTransport()">传输&nbsp;<span class="badge">0</span></a>
								<li><a href="javascipt:void(0)" ng-click="showShare()">分享</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown"><a href="javascipt:void(0)"
									class="dropdown-toggle" data-toggle="dropdown">管理员 <span
										class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascipt:void(0)" ng-click="showShare()">登出</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- 网盘 -->
		<div class="row" ng-show="showCtrl>0">
			<div class="col-md-2">
				<ul class="nav nav-list" id="mainNav">
					<li class="nav-header">新建</li>
					<li><a href="javascript:void(0)" type="file"
						onclick="createNewFile(this)">新建文件</a></li>
					<li><a href="javascript:void(0)" type="directory"
						onclick="createNewFile(this)">新建文件夹</a></li>
					<li class="nav-header">上传</li>
					<li><input type="file" id="file_upload" name="file"
						class="hidden" value="" /> <a href="javascript:void(0)"
						onclick="uploadFile()">上传文件</a></li>
					<li><a href="#">上传文件夹</a></li>
					<li class="nav-header">下载</li>
					<li><a href="#">新建离线下载</a></li>
				</ul>
			</div>
			<div class="col-md-9" data-toggle="context">
				<table class="table table-hover" id="filetable">
					<thead>
						<tr>
							<th colspan="11">
								<ol class="breadcrumb" ng-init="dirul">
									<li ng-repeat="li in dirul"><a href='javascript:void(0)'
										path='' ng-click="backup(this)" ng-bind="li.name"></a></li>
								</ol>
								<div class="btn-toolbar" role="toolbar" id="fileMenuShow" style="display:none;">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default"
											onclick="cancelSelect()">取消选择</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default">
											<span title='下载' class='glyphicon glyphicon-download-alt'></span>&nbsp;下载
										</button>
										<button type="button" class="btn btn-default">
											<span title='播放' class='glyphicon glyphicon-facetime-video'></span>&nbsp;播放
										</button>
										<button type="button" class="btn btn-default">
											<span title='移动' class='glyphicon glyphicon-share-alt'></span>&nbsp;移动
										</button>
										<button type="button" class="btn btn-default">
											<span title='重命名' class='glyphicon glyphicon-pencil'></span>&nbsp;重命名
										</button>
										<button type="button" class="btn btn-default">
											<span title='分享' class='glyphicon glyphicon-send'></span>&nbsp;分享
										</button>
										<button type="button" class="btn btn-default">
											<span title='删除' class='glyphicon glyphicon-trash'></span>&nbsp;删除
										</button>
									</div>
								</div>
							</th>
						</tr>
						<tr>
							<th></th>
							<th>文件名</th>
							<th>文件类型</th>
							<th>大小</th>
							<th>最后修改时间</th>
						</tr>
					</thead>
					<tbody ng-init="filelist">
						<tr ng-repeat="file in filelist" onclick="select(this)">
							<td><img src='img/{{file.filetype}}.png'
								class='img-responsive' onerror='ImgError(this)'></td>
							<td>
								<div ng-show="{{file.dir}}">
									<a href='javascipt:void(0)' ng-click="enterDir(this)" ng-bind="file.filename"></a>
								</div>
								<div ng-hide="{{file.dir}}" ng-bind="file.filename"></div>
							</td>
							<!--	<td>
								 <div style='visibility: hidden;' class="tablediv">
									<a href='javascipt:void(0)' type='download'
										onclick='FileOperate(this)' ng-hide="{{file.isdir}}"> <span
										title='下载' class='glyphicon glyphicon-download-alt'></span>
									</a> <a href='javascipt:void(0)' type='play'
										onclick='FileOperate(this)' ng-show="{{file.showplay}}"> <span
										title='播放' class='glyphicon glyphicon-facetime-video'></span>
									</a> <a href='javascipt:void(0)' type='mv'
										onclick='FileOperate(this)'> <span title='移动'
										class='glyphicon glyphicon-share-alt'></span>
									</a> <a href='javascipt:void(0)' type='rename'
										onclick='FileOperate(this)'> <span title='重命名'
										class='glyphicon glyphicon-pencil'></span>
									</a> <a href='javascipt:void(0)' type='share'
										onclick='FileOperate(this)'> <span title='分享'
										class='glyphicon glyphicon-send'></span>
									</a> <a href='javascipt:void(0)' type='del'
										onclick='FileOperate(this)'> <span title='删除'
										class='glyphicon glyphicon-trash'></span>
									</a>
								</div>
							</td> -->
							<td ng-bind="file.filetype"></td>
							<td ng-bind="file.descsize"></td>
							<td ng-bind="file.lastmodifiedtime"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 传输 -->
		<div class="row" id="transportlist" ng-show="showCtrl == 0">
			<div class="col-md-11" data-toggle="context">
				<div class="panel panel-default">
					<div class="panel-body">这是一个基本的面板</div>
				</div>
			</div>
		</div>
		<!-- 分享列表 -->
		<div class="row" id="sharelist" ng-show="shareshow < 0">
			<div class="col-md-11" data-toggle="context">
				<table class="table table-hover" id="sharefiletable">
					<thead>
						<tr>
							<th></th>
							<th>文件名</th>
							<th>文件类型</th>
							<th>分享时间</th>
							<th>下载次数</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src='img/folder.png' class='img-responsive'
								onerror='ImgError(this)'></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn btn-danger"
										onclick="cancelShare(this)">取消分享</button>
									<!-- <button type="button" class="btn btn-primary" onclick="watchShareFile(this)">查看</button> -->
									<button type="button" class="btn btn-primary copy">复制分享链接</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<!-- 对话框 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">新建文件（夹）</h4>
				</div>
				<div class="modal-body">
					<div class='row' type="singleRowInput">
						<div class='col-md-12'>
							<label for='labelname'>文件（夹）名称</label> <input type='text'
								class='form-control' required='required' />
						</div>
					</div>
					<div class='row' type="deltip">
						<div class='col-md-12'>你确定删除此文件（夹）吗？</div>
					</div>
					<div class='row' type="shareDiv">
						<div class='col-md-1'></div>
						<div class='col-md-10'>
							<div class="form-group">
								<label for="sharelink">分享链接</label> <input type="text"
									class="form-control" id="sharelink" onclick="this.select()">
							</div>
							<div class="form-group">
								<label for="sharepwd">访问密码</label> <input type="text"
									class="form-control" id="sharepwd">
							</div>
						</div>
						<div class='col-md-1'></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="modalSubmit">确定</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/toastr.js"></script>
<script src="js/prettify.js"></script>
<script src="js/base64.min.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="control/CustomAjax.js"></script>
<script src="control/cookie.js"></script>
<script src="control/main.js"></script>
</html>